@page  "/execute/{codename}"
@inherits RoundEnder

<br />
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-9 col-lg-6">
        <div class="row">
            <div class="col-12">
                <p>You execute @ExecutedAgent.Codename for @ExecutedAgent.Gender.ToPossessivePronoun().ToLower() suspected involvement in the conspiracy.</p>
                <p>@ExecutedAgent.Gender.ToCommonPronoun() was the @ExecutedAgent.Name.</p>
            </div>
        </div>
        @if (ExecutedAgent is Sleeper)
        {
            <div class="row">
                <div class="col-12">
                    <p>Just before you pull the trigger, you hear a "click" and an explosion in the background. The @nameof(Sleeper) smiles at you menacingly.</p>
                    <p>@ExecutedAgent.Target.Codename has died. @ExecutedAgent.Target.Gender.ToCommonPronoun() was the @ExecutedAgent.Name.</p>
                </div>
            </div>
        }
    </div>
</div>
<br />
<div class="row justify-content-center">
    <div class="col-6 col-sm-5 col-md-3 col-lg-2">
        <button class="btn btn-primary" @onclick="EndRound">Next Day</button>
    </div>
</div>

@code {
    [Parameter]
    public string Codename { get; set; }

    protected Agent ExecutedAgent { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ExecutedAgent = Game.Agents.OrderedList.Single(a => a.Codename == Codename);
        ExecutedAgent.Execute();

        // If the sleeper dies, they take someone down with them
        if (ExecutedAgent is Sleeper sleeper)
        {
            sleeper.SelectTarget(Game.Agents);
            sleeper.Target.Execute();
        }
    }
}
