@page "/selecttarget/{agentType}"

<p>Select the @Agent.Name's target.</p>
<Grid NumColumns="2" Items="Game.Agents.ShuffledList">
    <ItemTemplate>
        <button type="button"
                class="btn btn-block btn-dark @(context.IsActive ? "btn-height-double" : "")"
                @onclick="() => SetTarget(context)"
                disabled="@(!context.IsActive)">
            @context.Codename
            @if (!context.IsActive)
            {
                <br />
                <span class="muted">@context.Name</span>
            }
        </button>
    </ItemTemplate>
</Grid>
<div class="row justify-content-center">
    <div class="col-6 col-sm-5 col-md-3 col-lg-2">
        <button class="btn btn-secondary btn-block" @onclick="Cancel">Cancel</button>
    </div>
</div>

@code {
    [Parameter]
    public string AgentType { get; set; }

    protected Agent Agent { get; set; }

    protected override void OnParametersSet()
    {
        Agent = Game.Agents[AgentType];
    }

    protected void SetTarget(Agent target)
    {
        if (target.IsActive)
        {
            Agent.IsActing = true;
            Agent.Target = target;
            Nav.NavigateTo("/selectagents");
        }
    }

    protected void Cancel()
    {
        Nav.NavigateTo("/selectagents");
    }
}
