@page  "/selectagents"
@inject GameService Game

<h2>Day @Game.Day</h2>
<p>Select up to @GameService.MAX_AGENT_SELECTIONS @(GameService.MAX_AGENT_SELECTIONS == 1 ? "agent" : "agents") to assign.</p>

@foreach (Agent agent in Game.Agents.Where(a => a.Allegiance == Allegiance.Ally))
{
    if (agent.IsAlive && agent.IsActing)
    {
        <button @onclick="() => Unselect(agent)" class="btn btn-primary">@agent.AgentType</button>
    }
    else if (NumSelected < GameService.MAX_AGENT_SELECTIONS && agent.IsAlive)
    {
        <a href="/selecttarget/@agent.AgentType" class="btn btn-secondary">@agent.AgentType</a>
    }
    else
    {
        <button class="btn btn-secondary" disabled>@agent.AgentType</button>
    }
}

<button class="btn btn-info" @onclick="Submit">Confirm</button>

@code 
{
    public int NumSelected
    {
        get
        {
            return Game.Agents.Count(a => a.IsActing);
        }
    }

    protected void Unselect(Agent agent)
    {
        agent.Reset();
    }

    protected void Submit()
    {
        Game.PlayRound();
        Nav.NavigateTo("/results");
    }
}
