@page "/results"
@inject GameService Game

<div class="row justify-content-center">
    <div class="col center-contents-horizontal">
        <h2>Day @Game.Day</h2>
        <br />

        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                <h3>Reports</h3>
                <div class="reports row">
                    <div class="col-12">
                        @foreach (Agent agent in Game.Agents.Allies.Where(a => a.IsAlive && a.IsActing))
                        {
                            <h4>@agent.Name's Report</h4>
                            <p>@agent.GetReport()</p>
                        }
                    </div>
                </div>
                <h3>Casualties</h3>
                <div class="row">
                    <div class="col-12">
                        @{
                            IEnumerable<Agent> casualties = Game.Agents.ShuffledList.Where(a => a.WasKilled);
                            foreach (Agent agent in casualties)
                            {
                                <p>Agent @agent.Codename was killed by the @agent.Killer.Name. @agent.Gender.ToCommonPronoun() was the @agent.Name.</p>
                            }

                            if (!casualties.Any())
                            {
                                <p>No casualties reported.</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />

        <button class="btn btn-primary" @onclick="Submit">Next Day</button>
    </div>
</div>


@code {
    private void Submit()
    {
        if (!Game.Agents[nameof(Android)].IsAlive && !Game.Agents[nameof(Drudge)].IsAlive && !Game.Agents[nameof(Mastermind)].IsAlive)
        {
            // Win
            Nav.NavigateTo("/gameover/true");
        }
        else if (!Game.Agents.OrderedList.Any(a => a.Allegiance == Allegiance.Ally && a.IsAlive))
        {
            // Lose
            Nav.NavigateTo("/gameover/true");
        }
        else
        {
            // Keep playing
            Game.EndRound();
            Nav.NavigateTo("/selectagents");
        }
    }
}
